.productPage {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.productTitle {
  font-size: 2rem;
  text-align: left;  /* Alinea el título a la izquierda */
  color: #333;
  margin-bottom: 20px;
}

.productImage {
  width: 100%;
  max-width: 600px; /* Limita el tamaño máximo de la imagen */
  height: auto;
  display: block;
  margin: 0 auto 20px; /* Centra la imagen y agrega margen debajo */
}

.productDetails {
  display: flex;
  flex-direction: column; /* Organiza la descripción y el precio en una columna */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
  margin-bottom: 20px;
}

.productDescription {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: left; /* Alinea la descripción a la izquierda */
}

.productPrice {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.addToCartButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.addToCartButton:hover {
  background-color: #0056b3;
}
