
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  z-index: 1000;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImage {
  width: auto;
  height: 40px;
}

.leftBlock {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}
.slogan {
  font-size: 13px;
  color: #e2e2e2;
}

.nav {
  display: flex;
  gap: 10px;
  box-sizing: border-box;
}

.button {
  background: black;
  border: 1px solid white;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: Akatab;
}

.button:hover {
  background: white;
  color: black;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .logo {
    font-size: 20px;
  }

  .menuButton {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #222;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .navOpen {
    display: flex;
  }

  .button {
    width: 100%;
  }
}
