.productCard {
    display: flex; /* Para el diseño de escritorio: imagen a la izquierda, detalles a la derecha */
    justify-content: center; /* Centra horizontalmente los items */
  }
  
  .productContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .productContainer:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  .imageContainer {
    flex-shrink: 0; /* Evita que el contenedor de la imagen se encoja */
    border: 1px solid var(--color-20);
    height: 270px;
  }
  
  
  .image {
    width: 100%; /* Ancho fijo para la imagen en diseño de escritorio */
    height: 270px; /* Alto fijo para la imagen en diseño de escritorio */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
    
  }
  
  .details {
    display: flex;
    flex-direction: column; /* Apila verticalmente los detalles: nombre, color, precio */
    justify-content: space-between; /* Distribuye el espacio entre los elementos internos */
    flex-grow: 1; /* Permite que los detalles ocupen el espacio restante */
    padding: 20px;
    box-sizing: border-box;
  }

  .category{
    color: var(--color-90);
    font-size: 12px;
    font-weight: 600;
  }
  
  .title {
    color: var(--color-100);
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px 0; /* Margen inferior para separar del color */
    text-align: left; /* Alinea el texto a la izquierda en escritorio */
  }
  
  .colorBox {
    width: 25px; /* Ancho del cuadro de color */
    height: 25px; /* Alto del cuadro de color */
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Margen inferior para separar del precio */
  }
  
  .price {
    font-size: 14px;
    color: var(--color-100);
    font-weight: 600;
    text-align: right; /* Alinea el precio a la derecha en escritorio */
    margin-top: auto; /* Empuja el precio hacia abajo en el contenedor details */
  }
  
  
  /* Media query para diseño móvil (pantallas más pequeñas de 768px de ancho) */
  @media (max-width: 768px) {


    .productContainer{
      width: 40vw;

      flex-direction: column; /* Apila verticalmente en móvil: imagen arriba, detalles abajo */

    }
  
    .imageContainer {
      display: flex; /* Centrar la imagen horizontalmente en móvil */
      justify-content: center;
      width: 100%;
      height: auto;
    }
  

  .image{
    width: 100%;
      height: auto;
  }
    .details {
      height: auto;
      padding: 10px;
      width: 100%;
      
    }
  
  
    .title {
      text-align: center; /* Centra el título en móvil */
    }
  
    .price {
      text-align: center; /* Centra el precio en móvil */
      margin-top: 5px; /* Reduce el margen superior en móvil si es necesario */
    }
  

    .rowDetails{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  
    .title {
      text-align: left; /* Alinea el título a la izquierda en móvil */
      margin-bottom: 0; /* Quita el margen inferior del título */
    }
  
    .price {
      text-align: right; /* Alinea el precio a la derecha en móvil */
      margin-top: 0; /* Quita el margen superior del precio */
    }
  }

  @media(max-width: 530px){
    .productContainer {
      width: 60%;
      min-width: 180px;
    }
  }
