.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.pagination button {
    background-color: none;
    border: 1px solid var(--color-60);
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
}

.pagination button:hover {
    background-color: var(--color-40);
    border: none;
}

.pagination button:disabled {
    background-color: var(--color-10);
    border: none;
    cursor:default;
}

.pagination .active {
    background-color: var(--color-60);
    color: white;
    font-weight: bold;
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .pagination {
        flex-wrap: wrap;
        gap: 5px;
    }

    .pagination button {
        font-size: 14px;
        padding: 6px 10px;
    }
}
