.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  gap: 10px;
  align-items: stretch;
}

.mainImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImage {
  width: 50%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: auto;
}

.gridContainer {
  position: relative;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 100%;
  overflow-y: hidden;
  gap: 5px;
  padding: 10px;
}

.thumbnail {
  width: 50%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  display: block;
  margin: auto;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.viewMoreButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 14px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s;
}

.scrollable {
  overflow-y: auto;
}

.viewMoreButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modalImage {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.modalNavButtonLeft,
.modalNavButtonRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.modalNavButtonLeft {
  left: 10px;
}

.modalNavButtonRight {
  right: 10px;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .gridContainer {
    margin-top: 10px;
  }

  .imageGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 480px) {
  .imageGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .viewMoreButton {
    padding: 6px 10px;
    font-size: 12px;
  }
}